.ts-main-cont {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 6rem;
  padding-right: 6rem;
  flex-direction: column;
  min-width: 70rem;
}

.ts-title-cont {
  position: relative;
}

.ts-brush {
  height: 5rem;
  width: 17rem;
  position: relative;
}

.ts-brush-r {
  height: 5rem;
  width: 20rem;
  position: relative;
}

.ts-title {
  left: 2rem;
  top: 10px;
  color: white;
  position: absolute;
  /* background-color: rgb(100, 26, 26); */
  padding: 10px;
  margin-bottom: 1rem;
  font-weight: bolder;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}

.ts-cont {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 960px) {
  .ts-main-cont {
    min-width: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
}
