:root {
  --primary: rgb(100, 26, 26);
}

.pic {
  border: solid 3px var(--primary);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}

.pic:hover {
  filter: brightness(1.1);
  transition: all 0.3s ease-out;
}
