#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
}

.app-main-cont {
  padding-top: 5rem;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}

@media screen and (max-width: 960px) {
  .app-main-cont {
    padding-top: 3rem;
  }
}
